.App {
  text-align: center;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}

.app-wrapper {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
}

.input {
  width: 200px;
  height: 30px;
  margin: 0 20px;
}

.input:focus {
  background-color: grey;
  color: white;
}

.button {
  width: 100px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
  background-color: turquoise;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-wrap: wrap;
  flex-direction: row;
  margin: 50px 0;
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.card > h1 {
  font-size: 20px;
}

.card > p {
  white-space: nowrap;
}

.remove-button {
  position: absolute;
  right: -1px;
  top: -5px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}